html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(80px, 1fr));
  grid-gap: 10px;
  width: 100%;
}

.bg {
  &-blue {
    background-color: color(blue);
  }
  &-blue-xlt {
    background-color: color(blue, xlt);
  }
}

@for $i from 1 through 12 {
  .block-#{$i} {
    grid-column: span #{$i};
  }
}
