html,
body {
  padding: 0;
  margin: 0;
}

.fw-section {
  width: 100%;
}

.container {
  // display: grid;
  // grid-template-columns: repeat(12, minmax(80px, 1fr));
  // grid-gap: 10px;
  width: 1280px;
  margin: 0 auto;
}

@for $i from 1 through 6 {
  .h#{$i} {
    @include global-font-ops();
  }
}

p,
a,
span {
  @include global-font-ops();
  font-weight: 300;
  font-size: 18px;
}

a {
  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.btn {
  padding: 8px 25px;
  border: 2px solid;
  &.rnd {
    border-radius: 40px;
  }
  &.dk {
    background-color: color(blue);
    border-color: white;
  }
}
