#site-header {
  background-color: color(blue);
}
#site-header .page-mgn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
#site-header #logo {
  margin: 22px 0;
}
#site-header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#site-header nav li {
  margin-left: 60px;
}
#site-header nav a {
  color: white;
  font-weight: 100;
}
