#site-header {
  background-color: color(blue);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include pdg-rl(100, 100);
  }
  #logo {
    margin: 22px 0;
  }
  nav {
    ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    li {
      margin-left: 60px;
    }
    a {
      color: white;
      font-weight: 100;
    }
  }
}
