@mixin global-font-ops {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

@mixin mgn-rl($margin-left: 0, $margin-right: 0) {
  margin-left: #{$margin-left}px;
  margin-right: #{$margin-right}px;
}

@mixin shadow {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
}
