#transparent-pricing {
  background-color: color(blue, xlt);
  padding: 62px 0 70px;
  .page-mgn {
    @include mgn-rl(30, 30);
    @media screen and (min-width: 960px) {
      @include mgn-rl(120, 120);
    }
  }
  .text-box {
    h2 {
      font-size: 36px;
      line-height: 44px;
      color: color(blue);
      font-weight: 300;
      text-align: center;
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      max-width: 725px;
      display: block;
      margin: 0 auto 28px;
    }
  }
  #price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1260px) {
      flex-direction: row;
    }
  }
  .price-box {
    @include shadow;
    background-color: white;
    margin-bottom: 30px;
    padding: 48px 5px 54px;
    width: 100%;
    @media screen and (min-width: 560px) {
      padding: 48px 60px 54px;
      width: 380px;
    }
    @media screen and (min-width: 1260px) {
      margin-bottom: 0;
    }
    h3 {
      color: color(blue);
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 13px;
      font-weight: 300;
      text-align: center;
    }
    p {
      display: flex;
      justify-content: center;
      color: color(blue);
      font-size: 60px;
      @media screen and (min-width: 560px) {
        font-size: 114px;
      }
      span {
        display: block;
      }
      .rate {
        &-amt {
          font-size: 1em;
          line-height: 1em;
        }
        &-sign,
        &-period {
          font-size: 0.27em;
          line-height: 0.27em;
        }
        &-sign {
          margin-top: 15px;
          @media screen and (min-width: 560px) {
            margin-top: 30px;
          }
        }
        &-period {
          align-self: flex-end;

          margin-bottom: 15px;
          @media screen and (min-width: 560px) {
            margin-bottom: 30px;
          }
        }
      }
    }
    &:last-child p .rate-period {
      margin-left: -10px;
      @media screen and (min-width: 560px) {
        margin-left: -20px;
      }
    }
  }
}
