$colors: (
  blue: (
    base: #0092ff,
    lt: #8ecbf4,
    xlt: #f0f3fc
  ),
  grey: (
    base: #2f2f2f,
    lt: #bdc7d6
  )
);

@function color($base, $shade: base) {
  $color: map-get(map-get($colors, $base), $shade);
  @return $color;
}
