#what-overpass {
  padding-bottom: 50px;
  #color-box {
    background-color: color(blue);
    padding-bottom: 50px;
    @media screen and (min-width: 380px) {
      padding-bottom: 0px;
    }
  }
  .page-mgn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include mgn-rl(50, 50);
    @media screen and (min-width: 930px) {
      flex-direction: row;
      @include mgn-rl(100, 100);
    }
    @media screen and (min-width: 1200px) {
      @include mgn-rl(100, 50);
    }
    @media screen and (min-width: 1200px) {
      @include mgn-rl(200, 123.5);
    }
  }
  .text-box {
    color: white;
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: 380px) {
      width: 400px;
    }
    @media screen and (min-width: 930px) {
      text-align: left;
      margin-right: 62.5px;
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1130px) {
      width: auto;
    }
    h2 {
      font-size: 40px;
      line-height: 1.2em;
      font-weight: 100;
      margin-bottom: 25px;
      @media screen and (min-width: 1130px) {
        font-size: 72px;
        line-height: 87px;
      }
    }
  }
  .image-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    width: 315px;
    margin-right: 10px;
    @media screen and (min-width: 675px) {
      margin-right: 30px;
    }
    @media screen and (min-width: 675px) {
      width: 400px;
      margin-right: 45px;
    }
    @media screen and (min-width: 930px) {
      margin-right: 0;
    }
    @media screen and (min-width: 1130px) {
      width: 548px;
    }
    img {
      width: 100%;
      @media screen and (min-width: 675px) {
        width: 548px;
      }
      @media screen and (min-width: 930px) and (max-width: 1130px) {
        width: 400px;
      }
    }
    .btn {
      position: absolute;
      cursor: pointer;
      border: none;
      margin: 0 0 0 13px;
      @media screen and (min-width: 675px) {
        margin: 0 0 0 19px;
      }
      padding: 15px 30px;
      @include shadow;
    }
  }
  #wave {
    padding-bottom: 10%;
    background: {
      image: url("../images/curve.svg");
      size: 115%;
      repeat: no-repeat;
      position: center bottom;
    }
  }
}
