#what-overpass {
  padding-bottom: 200px;
  #color-box {
    background-color: color(blue);
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include pdg-rl(200, 123.5);
  }
  #text-box {
    color: white;
    margin-right: 62.5px;
    h2 {
      font-size: 72px;
      font-weight: 100;
      line-height: 87px;
      margin-bottom: 25px;
    }
  }
  #video-box {
    position: relative;
    width: 548.33px;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      position: absolute;
      cursor: pointer;
      border: none;
      margin: 0 0 0 19px;
      padding: 15px 30px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
  #wave {
    padding-bottom: 191px;
    background: {
      image: url("../images/curve.svg");
      size: 115%;
      repeat: no-repeat;
      position: center bottom;
    }
  }
}
