#what-overpass {
  padding-bottom: 200px;
}
#what-overpass #color-box {
  background-color: color(blue);
}
#what-overpass .container {
  display: flex;
  justify-content: space-between;
}
#what-overpass #text-box {
  color: white;
}
#what-overpass #text-box h2 {
  font-size: 72px;
  font-weight: 100;
  line-height: 87px;
  margin-bottom: 25px;
}
#what-overpass #video-box {
  position: relative;
  width: 548.33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#what-overpass #video-box .btn {
  position: absolute;
  cursor: pointer;
  border: none;
  margin: 0 0 0 19px;
  padding: 15px 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#what-overpass #wave {
  padding-bottom: 191px;
  background-image: url("../images/curve.svg");
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
